/* @primary-color: #1890ff; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers */

:root {
  --lessui-default-color: #3D0E1B;
  --primary-color: var(--lessui-default-color);
  --secondary-color: #ffa069;
  --tertiary-color: #555c69;
  --white-color: #fff;
  --success-color: #27b6bb;
  --success-color-200: #b3e7e5;
  --success-color-800: #0e3030;
  --primary-color-active: #2d3239;
  --primary-color-hover-focus: #434c58;
  --primary-color-shadow: #00000033;
  --danger-color: #e44c47;
  --danger-color-200: #ba3e3b;
  --purple-color: #464584;
  --purple-color-200: #c9c8ec;
  --purple-color-800: #464584;
}
body {
  color: var(--lessui-default-color);
}
.ant-spin .ant-spin-dot .ant-spin-dot-item {
  background-color: var(--white-color);
}
.ant-form-item {
  margin-bottom: 0px;
}
.ant-layout-sider {
  background-color: var(--primary-color) 05;
}
.ant-layout-header {
  @apply px-2;
}
.ant-menu,
.ant-layout-header {
  background-color: transparent;
}
.ant-menu-item::after {
  top: 6px !important;
  left: 0;
  right: inherit !important;
  height: 23px;
  border-radius: 0 800px 800px 0;
  border-right: 4px solid var(--primary-color) !important;
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0px solid #e8e8e8;
}
.ant-layout-sider-children .anticon,
.today-date .anticon {
  line-height: 1.6;
  vertical-align: text-bottom;
}
.ant-layout-content {
  @apply rounded-lg mr-2;
}
.ant-layout-footer {
  padding: 24px 12px;
}
.ant-btn {
  height: auto;
  border: none;
  color: #F7EBDB;
  border-radius: 0px;
  box-shadow: none;
}
.heath .ant-btn {
  background-color: #3D0E1B;
}
.kashmir .ant-btn {
  background-color: #4D5A8E;
}
.teal .ant-btn {
  background-color: #025B63;
}
.glass .ant-btn {
  background-color: #3D0E1B00;
  color: #3D0E1B;
}
.heath .ant-btn:hover,
.heath .ant-btn:focus,
.heath .ant-btn:active {
  background: #63162b;
  color: #F7EBDB;
}
.kashmir .ant-btn:hover,
.kashmir .ant-btn:focus,
.kashmir .ant-btn:active {
  background: #54629c;
  color: #F7EBDB;
}
.teal .ant-btn:hover,
.teal .ant-btn:focus,
.teal .ant-btn:active {
  background: #107b85;
  color: #F7EBDB;
}
.glass .ant-btn:hover,
.glass .ant-btn:focus,
.glass .ant-btn:active {
  background: #3D0E1B10;
  color: #3D0E1B;
}
.ant-btn.heath {
  background-color: #3D0E1B;
}
.ant-btn.kashmir {
  background-color: #4D5A8E;
}
.ant-btn.teal {
  background-color: #025B63;
}
.ant-btn.glass {
  background-color: #3D0E1B00;
  color: #3D0E1B;
}
.ant-btn.heath:hover,
.ant-btn.heath:focus,
.ant-btn.heath:active {
  background: #63162b;
  color: #F7EBDB;
}
.ant-btn.kashmir:hover,
.ant-btn.kashmir:focus,
.ant-btn.kashmir:active {
  background: #54629c;
  color: #F7EBDB;
}
.ant-btn.teal:hover,
.ant-btn.teal:focus,
.ant-btn.teal:active {
  background: #107b85;
  color: #F7EBDB;
}
.ant-btn.glass:hover,
.ant-btn.glass:focus,
.ant-btn.glass:active {
  background: #3D0E1B10;
  color: #3D0E1B;
}
textarea,
input {
  @apply w-full border-none rounded-none outline-none text-xs;
  @apply px-2 py-3 md:py-2 lg:py-3;
  background-color: #E8E8E8;
  color: #8B8B8B;
  resize: none;
}
textarea::placeholder,
input::placeholder {
  @apply text-xs;
  color: #9b9898;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  background-color: #f8f0f0;
}
.kashmir .text-colored {
  @apply text-kashmir;
}
.kashmir .border-colored {
  @apply border-kashmir;
}
.kashmir .bg-colored {
  @apply bg-kashmir;
}
.teal .text-colored {
  @apply text-teal;
}
.teal .border-colored {
  @apply border-teal;
}
.teal .bg-colored {
  @apply bg-teal;
}
.heath .text-colored {
  @apply text-heath;
}
.heath .border-colored {
  @apply border-heath;
}
.heath .bg-colored {
  @apply bg-heath;
}
.ant-spin .ant-spin-dot .ant-spin-dot-item {
  @apply bg-heath;
}
