body {
  @apply font-Dosis bg-cotton;
  background-image: url(~/assets/zellige.svg);
}
#dashboard-layout {
  @apply h-screen;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  @apply opacity-0;
}
* {
  caret-color: transparent;
}
